datacenter = "dc1"
data_dir   = "/var/lib/consul"
bind_addr  = "0.0.0.0"
advertise_addr = "{{ ansible_host }}"
server = true
bootstrap_expect = 1
ui = true
client_addr = "0.0.0.0"

dns_config {
  enable_truncate = true
  only_passing = true
  service_ttl = {
    "*" = "10s"
  }
}