job "case_portal" {
  datacenters = ["dc1"]

  group "apps" {
    network {
      port "http" {
        static = 80
      }
    }

    task "case_portal" {
      driver = "docker"

      config {
        image = "{{ docker_registry_dest }}/case-portal:{{ tag }}"
        ports = ["http"]
      }

      resources {
        cpu    = 500
        memory = 256
      }

      env {
        __SERVER_KEYCLOAK_URL__="https://login.wkspower.com"
        __SERVER_API_URL__="https://api.wkspower.com"
        __SERVER_STORAGE_URL__="https://stg.wkspower.com"
        __SERVER_WEBSOCKETS_ENABLED__="false"
        __SERVER_WEBSOCKETS_URL__=""
        __SERVER_WEBSOCKETS_CASE_CREATED__=""
        __SERVER_WEBSOCKETS_HUMAN_TASK_CREATED__=""
        __SERVER_NOVU_ENABLED__="false"
        __SERVER_NOVU_PUBLISHER_API_URL__=""
      }      

      service {
        name = "caseportal"
        provider = "consul"
        port = "http"

        tags = [
          "traefik.enable=true",
          "traefik.http.routers.caseportal.rule=Path(`/`)",
          "traefik.http.routers.caseportal.entrypoints=web"
        ]
      }
    }
  }
}
