server {
    listen  80;
    server_name demo-bm.{{ dns_name }};
    return 301 https://$host$request_uri;
}

server {
    listen  443;
    server_name demo-bm.{{ dns_name }};

    ssl on;
    ssl_certificate {{ tls_crt_dest }};
    ssl_certificate_key {{ tls_key_dest }};
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384';
    ssl_prefer_server_ciphers on;
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:10m;
    ssl_session_tickets off;

    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;    
        proxy_pass http://wkspower_api_gateway/app;
    }
}